kawa/tests/.DS_Store
kawa/tests/data_smt.csv
kawa/tests/data.csv
kawa/tests/tlmtest/.DS_Store
kawa/tests/tlmtest/data_pcm.csv
kawa/tests/tlmtest/data_smt.csv
kawa/tests/tlmtest/high_speed_data_0000.csv
kawa/tests/tlmtest/high_speed_data_0001.csv
kawa/tests/tlmtest/high_speed_data_0002.csv
kawa/tests/tlmtest/high_speed_data_0003.csv
kawa/tests/tlmtest/high_speed_data_0004.csv
kawa/tests/tlmtest/high_speed_data_0005.csv
kawa/tests/tlmtest/high_speed_data_0006.csv
kawa/tlmsvsim/.DS_Store
kawa/tlmsvsim/pcm.bin
kawa/tlmsvsim/smt.bin
kawa/tlmsvsim/data set 1/.DS_Store
kawa/tlmsvsim/data set 1/config_tlm_20201021.xlsx
kawa/tlmsvsim/data set 1/pcm.bin
kawa/tlmsvsim/data set 1/ReadMe.md
kawa/tlmsvsim/data set 1/smt.bin
kawa/tlmsvsim/data set 2/config_tlm_2.xlsx
kawa/tlmsvsim/data set 2/pcm.bin
kawa/tlmsvsim/data set 2/ReadMe.md
kawa/tlmsvsim/data set 2/smt.bin
kawa/usrmod/__pycache__/tlm.cpython-37.pyc
kawa/.DS_Store
kawa_pcm/tlmsvsim/.DS_Store
kawa_pcm/usrmod/__pycache__/tlm.cpython-37.pyc
kawa_pcm/.DS_Store
kawa_pcm/data_pcm.xlsx
kawa_smt/tlmsvsim/.DS_Store
kawa_smt/usrmod/__pycache__/tlm.cpython-37.pyc
kawa_smt/.DS_Store
noda/usrmod/__pycache__/tlm.cpython-38.pyc
ql-async/dat/pcm.bin
ql-async/dat/smt.bin
ql-async/src/__pycache__/asynctlm.cpython-38.pyc
ql-async/src/__pycache__/asynctlm.cpython-39.pyc
ql-async/src/__pycache__/asynctlm2.cpython-38.pyc
ql-async/src/__pycache__/common.cpython-38.pyc
ql-async/src/__pycache__/gui.cpython-38.pyc
ql-async/src/__pycache__/gui.cpython-39.pyc
ql-async/src/.DS_Store
ql-async/data_pcm.csv
ql-async/data_smt.csv
.gitignore
