dat-in/pcm.bin
dat-in/smt.bin
.DS_Store
src/__pycache__/data.cpython-39.pyc
src/__pycache__/gui.cpython-39.pyc
src/__pycache__/telemeter.cpython-39.pyc
data_pcm.csv
data_smt.csv
high_speed_data_0000.csv
high_speed_data_0001.csv
